.env
.venv/
.hf/

.idea/
.vscode/

__pycache__/
*.py[cod]
*.so

.pytest_cache/
.ruff_cache/
.mypy_cache/

build/
dist/
*.egg-info/
src/rag_evaluator.egg-info/

runs/

data/

storage/*
!storage/chroma/
storage/chroma/*
!storage/chroma/.gitkeep

PLAN.md
**/.DS_Store